<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>ScoreKeeper - 1st Period</title>
	<script src="/usr/palm/frameworks/mojo/mojo.js" type="text/javascript" x-mojo-version="1" />

	<!-- application stylesheet should come in after the one loaded by the framework -->
	<link href="stylesheets/scorekeeper.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body><div class="container">
	<h2 class="palm-header">ScoreKeeper</h2>
	<div class="scores">
		<div id="leftScore" class="leftScore"></div>
		<div id="rightScore" class="rightScore"></div>
	</div>
	<div class="cards">
		<div class="leftCards">
			<div class="card">&nbsp;</div>
			<div class="card">&nbsp;</div>
		</div>
		<div class="rightCards">
			<div class="card yellow">&nbsp;</div>
			<div class="card red">&nbsp;</div>
		</div>
	</div>
	<div class="timer">
		<div id="timerButton" class="timer-display">xx:xx:xx</div>
	</div>
	<div class="settings">
		<div id="scoreSettings" class="scoreSettings palm-header">Score</div>
		<div class="timeSettings palm-header">Time</div>
	</div>
</div></body>
</html>